packages: [
  "atom-alignment"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-pair"
  "battery-status"
  "cssfmt"
  "curler"
  "custom-opener"
  "earthsung-by-jackson-syntax"
  "editor-stats"
  "file-icons"
  "git-control"
  "highlight-line"
  "irc"
  "language-babel"
  "language-ember-htmlbars"
  "linter"
  "linter-jscs"
  "linter-jshint"
  "markdown-preview-plus"
  "mathjax-wrapper"
  "my-package"
  "my-theme-syntax"
  "northem-atom-ui"
  "northem-dark-atom-ui"
  "notes"
  "package-sync"
  "pigments"
  "project-manager"
  "seti-syntax"
  "seti-ui"
  "sort-lines"
  "tablr"
  "tree-view-git-status"
  "tree-view-open-files"
  "vim-mode"
  "youtube-pane"
]
